{% extends "base.html" %}

{% block content %}
    <h1>404 - Page Not Found</h1>
    <p>Oops! We couldn't find that page.</p>

    <h3>What could have gone wrong?</h3>
    <ul>
        <li>The page might have been removed.</li>
        <li>The URL might be incorrect.</li>
        <li>The page might be temporarily unavailable.</li>
    </ul>

    <h3>Here are some helpful links instead:</h3>
    <ul>
        <li><a href="{{ nav.homepage.url | url }}">Home</a></li>
        <li><a href="{{ 'getting_started/yen-servers/' | url }}">Getting Started</a></li>
        <li><a href="{{ 'user_guide/' | url }}">User Guide</a></li>
        <li><a href="{{ 'policies/darc/' | url }}">Policies</a></li>
        <li><a href="{{ 'blog/' | url }}">Blog</a></li>
    </ul>

    <h3>Need assistance?</h3>
    <p>If you need immediate assistance, please <a href="mailto:gsb_darcresearch@stanford.edu">reach out to our support team</a>.</p>
{% endblock %}

